<section class="orders-show">

  <header class="page-header">
    <div class="order-summary jumbotron">
      <h1><%= @order.email %>'s order</h1>
      <h4>Thank you for your order!</h4>
    </div>
  </header>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Order #<%= @order.id %></th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order_total = 0 %>
        <%@order.line_items.each do |item|%>
          <%= render 'item', item: item %>
        <%end%>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            $<%= @order_total%>
          </th>
        </tr>
      </tfoot>
    </table>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
