<div class="jumbotron">
  <h2> <%= review.user.first_name%> <%= review.user.last_name%></h2>
  <p><%= review.description %></p>
  <h3><%= review.rating %>/5 </h3>
  <%if current_user && review.user_id == current_user.id%>
    <%= link_to 'Delete',[@product, review], class: 'btn btn-xs btn-danger', method: :delete  %>
  <%end%>
</div>
